#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-165516b8-1cf9-4d26-bdba-566d486bf8a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}