#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}