#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_4 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_5 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_6 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_11 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 #s-Rich_text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2565ccbb-9f9d-4fcd-9f67-ee9b34a37225 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}