#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Ellipse_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Ellipse_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Ellipse_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Ellipse_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Ellipse_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c3f1841-98dc-4140-870b-8cc6998c0dc1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}