#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_4 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_5 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_6 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_11 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 644px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 155px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}