#s-48ac58c6-6ee5-48b2-9933-825128704a37 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  min-width: 1170px;
  min-height: 1000px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_2 {
  position: absolute;
  top: 202px;
  left: 16px;
  width: 517px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 42px;
  font-size: 22.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_3 {
  position: absolute;
  top: 1258px;
  left: 18px;
  width: 1140px;
  height: 181px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Image_10 {
  position: absolute;
  top: 1294px;
  left: 39px;
  width: 297px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_9 {
  position: absolute;
  top: 1312px;
  left: 688px;
  width: 421px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Line_2 {
  position: absolute;
  top: 1343px;
  left: 491px;
  width: 67px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  box-shadow: none;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_4 {
  position: absolute;
  top: 1439px;
  left: 18px;
  width: 1140px;
  height: 44px;
  background-color: #808080;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_14 {
  position: absolute;
  top: 1346px;
  left: 688px;
  width: 256px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_14 span#rtr-s-Rich_text_14_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_14 span#rtr-s-Rich_text_14_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_5 {
  position: absolute;
  top: 263px;
  left: 308px;
  width: 848px;
  height: 240px;
  background-color: #808080;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 224px;
  height: 222px;
  position: absolute;
  overflow: hidden;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Ellipse_1 .content {
  width: 224px;
  height: 222px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Ellipse_1 {
  position: absolute;
  top: 275px;
  left: 39px;
  width: 224px;
  height: 222px;
  background-color: #434343;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #shapewrapper-s-Ellipse_1 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_1 {
  position: absolute;
  top: 452px;
  left: 995px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_1 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_3 {
  position: absolute;
  top: 517px;
  left: 19px;
  width: 263px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_4 {
  position: absolute;
  top: 813px;
  left: 17px;
  width: 261px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_2 {
  position: absolute;
  top: 582px;
  left: 17px;
  width: 261px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_5 {
  position: absolute;
  top: 864px;
  left: 17px;
  width: 261px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_6 {
  position: absolute;
  top: 915px;
  left: 17px;
  width: 261px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_7 {
  position: absolute;
  top: 546px;
  left: 310px;
  width: 260px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_6 {
  position: absolute;
  top: 562px;
  left: 599px;
  width: 553px;
  height: 11px;
  background-color: #808080;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_8 {
  position: absolute;
  top: 622px;
  left: 17px;
  width: 261px;
  height: 72px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_11 {
  position: absolute;
  top: 963px;
  left: 16px;
  width: 261px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_20 {
  position: absolute;
  top: 665px;
  left: 407px;
  width: 642px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Group_10 {
  position: absolute;
  top: 736px;
  left: 405px;
  width: 652px;
  height: 50px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 644px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 644px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Button_14 {
  position: absolute;
  top: 813px;
  left: 893px;
  width: 155px;
  height: 21px;
  background-color: #5BC0DE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Button_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Button_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Button_14 span#rtr-s-Button_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_10 {
  position: absolute;
  top: 705px;
  left: 16px;
  width: 261px;
  height: 96px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_10 span {
  color: #980000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #980000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-48ac58c6-6ee5-48b2-9933-825128704a37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}