#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rich_text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a968220-49e1-48dc-b06a-13643a3461af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}