#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}