#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_12 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_19 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_20 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_13 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_21 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rectangle_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_4 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_5 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_6 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_11 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-83c5ea80-4d0b-4db3-91fd-60c50cd6896b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}