#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8c502210-f9cb-4ada-8f92-26c6b49ed2d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}