#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c44270ea-2641-4b6b-aed2-35be725d8113 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}