#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Line_2 {
  rotation: 270.0;
  margin-left: 32px;
  margin-top: -33px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rich_text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d3296b7b-fc86-44b8-a51d-db064aa577ba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}