#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_1 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_2 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_11 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_12 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_13 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_14 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_12 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_15 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_16 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_17 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_18 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_19 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_20 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Ellipse_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_13 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_21 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_22 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_23 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_24 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_25 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Ellipse_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_26 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_14 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_27 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_28 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_29 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_30 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_31 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_32 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Ellipse_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_15 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_33 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_34 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_35 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_36 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_37 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Ellipse_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_38 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_16 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_39 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_40 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_41 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_42 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_43 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_44 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Ellipse_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_45 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_46 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_47 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_48 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_49 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Ellipse_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  filter: alpha(opacity=91);
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Label_50 {
  border-top-width: 0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: dotted;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d43b24fa-8e94-4378-bbb8-e0be6112a53b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}