#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 548px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 548px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 548px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 548px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 254px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 548px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 256px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 158px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 59px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 254px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 256px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Category_1-options {
  background-color: transparent;
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 532px;
  height: 151px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81);
  filter: alpha(opacity=81);
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 155px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(270.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e #s-Rich_text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e4f2bfa9-ff39-47dd-843b-3a4a9f06572e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}