#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rich_text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 #t-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-b204a159-7992-406f-82da-c5b4eb5c33c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}