<html>
  <body>
    <div class="ui-page">
         <div id="t-b204a159-7992-406f-82da-c5b4eb5c33c3" class="template growth-both firer commentable" name="1170interna grid - 12 columns" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="center">
           <link type="text/css" rel="stylesheet" href="./resources/templates/b204a159-7992-406f-82da-c5b4eb5c33c3-1462981872096.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/b204a159-7992-406f-82da-c5b4eb5c33c3-1462981872096-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/b204a159-7992-406f-82da-c5b4eb5c33c3-1462981872096-ie8.css" /><![endif]-->
           <div id="t-Rectangle_1" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_1_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_2" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_2_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_4" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_4_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_5" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_5_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_6" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_6_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_7" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_7_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_8" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_8_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_9" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_9_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_10" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_10_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_11" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_11_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_12" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_12_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_13" class="richtext firer commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_13_0"></span>
                 </div>
               </div>
             </div>
           </div>
           <img id="t-Image_1" class="image firer click ie-background commentable"    alt="image" src="./images/GeneratedCross-8.png"/>
           <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 1144 0" startMarker="none" endMarker="none"  >
           </div>
           <div id="t-Menu_1" class="menu horizontal firer ie-background commentable"  align="left">
             <div id="t-Menu_item_2" class="menunode firer click ie-background commentable" ><span id="t-Menu_item_2-nodetext"> &nbsp;Cadastrar Campus &nbsp;</span></div>
             <div id="t-Menu_item_3" class="menunode firer click ie-background commentable" ><span id="t-Menu_item_3-nodetext"> &nbsp;Ver Campus &nbsp;</span></div>
             <div id="t-Menu_item_1" class="menunode firer click ie-background commentable" ><span id="t-Menu_item_1-nodetext"> &nbsp;Cadastrar Coordenadores</span></div>
             <div id="t-Menu_item_4" class="menunode firer click ie-background commentable" ><span id="t-Menu_item_4-nodetext"> &nbsp;Ver Coordenadores</span></div>
           </div>
           <div id="t-Rich_text_13" class="richtext firer ie-background commentable"  >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rich_text_13_0">Ol&aacute; Administrador</span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Rectangle_3" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_3_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Line_4" class="line shape non-processed-shape firer ie-background commentable" path="M 0 1 L 35 1" startMarker="none" endMarker="none"  >
           </div>
           <div id="t-Line_5" class="line shape non-processed-shape firer ie-background commentable" path="M 0 1 L 35 1" startMarker="none" endMarker="none"  >
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>